*.zip
*.pyc
*.DS_Store
bin/
libs/cocos2d-x
__MACOSX


*.udf
*.apk
*.o
*.a
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
.DS_Store
.gradle
Thumbs.db
npm-debug.log
/bin
/proj.android/assets/
/proj.android/bin/
/proj.android/gen/
/proj.android/libs/armeabi
/proj.android/libs/google-play-services_lib
/proj.android/libs/library-debug.aar
/proj.android/local.properties
/proj.android-studio/assets/
/proj.android-studio/bin/
/proj.android-studio/gen/
/proj.android-studio/libs/armeabi
/proj.android-studio/libs/google-play-services_lib
/proj.android-studio/libs/library-debug.aar
/proj.android-studio/local.properties
/proj.android-studio/obj/
/proj.android-studio/obj/
/proj.android-studio/app/libs/armeabi/
/proj.android-studio/app/obj/
/proj.android-studio/app/assets

/cocos2d/cocos/platform/android/java/local.properties
/cocos2d/cocos/platform/android/libcocos2dx/build
/publish/
/proj.android/ant.properties
/proj.android/build
/proj.ios_mac/Pods
/cocos2d/build/build
/proj.ios_mac/build/
Breakpoints_v2.xcbkptlist
UserInterfaceState.xcuserstate
/.keystore